* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    top: 0;
    left: 0;
    /* width: 100%; */
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background: #212529;
    width: 1260px;
    height: 102px;
    flex-shrink: 0;
}

.logo img {
    height: 40px;
    width: 170px;


}

.navbar a {

    font-size: 15px;
    color: #FFF;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    float: right;
    margin-top: 40px;

}

.btn button {
    float: right;
    position: absolute;
    margin-top: 1px;
    margin-left: 62%;
    margin-right: 5px;
    background: none;
    border: 1px solid white;
    color: #FFF;
    padding: 4px 7px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;

}

.btn button:hover {
    background: #DEA527;
    color: black;
}

#countrySelector {
    height: 20px;
    width: auto;
    position: absolute;
    margin-left: 80%;
    margin-top: 3px;
}

/* ##################### HEADER END ########################## */

/* ######################## ABOUT US STYLING START ############################ */

.about-us h1 {
    text-align: center;
    margin-top: 50px;
}

.content1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pic {
    align-items: center;
}

.pic img {
    width: 555px;
    height: 330px;
}

.data {
    border: 2px solid #DEA527;
    padding: 44px 79px 0px 35px;
    margin-left: 6px;
    width: 555px;
    height: 330px;
}

.data h6 {
    color: #212529;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.data h2 {
    color: #212529;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1px solid #DEA527;
    padding-bottom: 6px;
}

.data p {
    color: #212529;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
}
 
/* ########################## ASSETS STYLING ###################### */

.assets{
    display: flex;
    margin: 10px 70px;
}

.column {
    border: 2px solid #DEA527;
    text-align: center;
    margin: 30px 5px;
    padding: 30px 15px;
}

.column img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.column h6 {
    color: #212529;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}

.column p {
    color: #212529;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 15px;
}

/* ######################## ABOUT US STYLING END ############################ */

.mission {
    position: relative;
    text-align: center;
    border: 2px solid #DEA527;
    margin: 0px 70px 40px 77px;
}

.mission img {
    margin-top: 30px;
    width: 1050px;
    height: 300px;
    flex-shrink: 0;
}

.mission h2 {
    margin-top: 20px;
    color: #212529;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mission p {
    margin: 20px 50px;
    color: #212529;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ######################## MISSION PART STYLING END ############################# */
/* ######################## SHOWCASE STYLING START ############################# */

.showcase{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.img1 img{
    width: 555px;
    height: 250px;
    margin-left: 75px;
}
.img2 img{
    width: 555px;
    height: 250px;
    margin-right: 60px;
}

.img1{

}
.img1 .text1 {
    border: 2px solid white;
    background: #FFF;
    box-shadow: 0px 5px 5px 2px rgb(208, 211, 212);
    width: 470px;
    height: 120px;
    margin: 0px 0px 0px 112px;
    padding: 20px 15px;
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-top: -57px;
}
.img2 .text2 {
    border: 2px solid white;
    background: #FFF;
    box-shadow: 0px 5px 5px 2px rgb(208, 211, 212);
    width: 470px;
    height: 120px;
    margin: 0px 0px 30px 47px;
    padding: 20px 15px;
    position: absolute;
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-top: -57px;
}
/* ######################## SHOWCASE STYLING END ############################# */

/* ######################## FOOTER STYLING START ############################# */
hr {
    height: 2px;
    background: #808080;
    align-items: center;
    margin-right: 6%;
    margin-left: 6%; 
    margin-top: 13%;
   

}

.furas-travel {
    display: flex;

}

.footer-data {
    margin-left: 10%;

}

.furas-travel h4 {
    color: #212529;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 30px;
}

.furas-travel li {
    color: #212529;
    font-family: Montserrat;
    font-size: 15px;
    font-style: none;
    font-weight: 400;
    line-height: 30px;
    list-style: none;
}

.footer-data {
    color: #212529;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.footer-data label {
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
    position: absolute;
    margin-top: 5px;
}

.footer-data input {
    border-radius: 7px;
    border: 1px solid #696969;
    padding: 5px 15px;

}

button {
    margin-top: 15px;
    border: 1px solid #DEA527;
    border-radius: 5px;
    background: #DEA527;
    padding: 2px 15px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-data img{
    width: 20px;
    float: left;
    padding-top: 5px;
    margin-left: 16px;
    position: relative;
    margin-right: 10%;
}


.copyright {
    text-align: center;
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-top: 1px solid #000;
    margin-right: 6%;
    margin-left: 6%;
}
/* ######################## FOOTER STYLING END ############################# */


