* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    top: 0;
    left: 0;
    /* width: 100%; */
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background: url(./images/about-us/Rectangle\ 222.png) no-repeat;
    width: 1258px;
    height: 102px;
    flex-shrink: 0;
}

.logo img {
    height: 40px;
    width: 170px;


}

.navbar a {

    font-size: 15px;
    color: #FFF;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    float: right;
    margin-top: 40px;

}

.btn button {
    float: right;
    position: absolute;
    margin-top: 1px;
    margin-left: 62%;
    margin-right: 5px;
    background: none;
    border: 1px solid white;
    color: #FFF;
    padding: 4px 7px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;

}

.btn button:hover {
    background: #DEA527;
    color: black;
}

#countrySelector {
    height: 20px;
    width: auto;
    position: absolute;
    margin-left: 80%;
    margin-top: 3px;
}

/* ##################### HEADER END ########################## */

/* ############################# Air Lines Styling Start ############################ */

.heading {
    text-align: center;
    margin-top: 40px;
}

.heading h1 {
    color: #212529;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.image {
    border: 2px solid #FFF;
    padding: 5px 5px 15px 5px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.20);
    /* position: absolute; */
}

.container .image img {
    width: 530px;
    height: 160px;
}

.image h2 {
    color: #212529;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 80px;
}

.image p {
    color: #212529;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
}

.image .btn {
    border: 1px solid #DEA527;
    background: #DEA527;
    color: #FFF;
    padding: 5px 30px;
    margin-top: 10px;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.logo1 img {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 100px;
    fill: #FFF;
    position: absolute;
    align-items: center;
    margin-left: 24%;
    margin-top: -20%;
    background: #FFF;
}

.logo2 img {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 100px;
    fill: #FFF;
    position: absolute;
    align-items: center;
    margin-left: 68%;
    margin-top: -20%;
    background: #FFF;
}


/* ###################### All Airlines END################## */

/* ######################## FOOTER STYLING START ############################# */
hr {
    height: 2px;
    background: #808080;
    align-items: center;
    margin-right: 6%;
    margin-left: 6%; 
    margin-top: 8%;
   

}

.furas-travel {
    display: flex;

}

.footer-data {
    margin-left: 10%;

}

.furas-travel h4 {
    color: #212529;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 30px;
}

.furas-travel li {
    color: #212529;
    font-family: Montserrat;
    font-size: 15px;
    font-style: none;
    font-weight: 400;
    line-height: 30px;
    list-style: none;
}

.footer-data {
    color: #212529;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.footer-data label {
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
    position: absolute;
    margin-top: 5px;
}

.footer-data input {
    border-radius: 7px;
    border: 1px solid #696969;
    padding: 5px 15px;

}

button {
    margin-top: 15px;
    border: 1px solid #DEA527;
    border-radius: 5px;
    background: #DEA527;
    padding: 2px 15px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-data img{
    width: 20px;
    float: left;
    padding-top: 5px;
    margin-left: 16px;
    position: relative;
    margin-right: 10%;
}

.copyright {
    text-align: center;
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-top: 1px solid #000;
    margin-right: 6%;
    margin-left: 6%;
}
/* ######################## FOOTER STYLING END ############################# */