* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    top: 0;
    left: 0;
    /* width: 100%; */
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background: #212529;
    width: 1263px;
    height: 102px;
    flex-shrink: 0;
}

.logo img {
    height: 40px;
    width: 170px;


}

.navbar a {

    font-size: 15px;
    color: #FFF;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    float: right;
    margin-top: 40px;

}

.btn button {
    float: right;
    position: absolute;
    margin-top: 1px;
    margin-left: 62%;
    margin-right: 5px;
    background: none;
    border: 1px solid white;
    color: #FFF;
    padding: 4px 7px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;

}

.btn button:hover {
    background: #DEA527;
    color: black;
}

#countrySelector {
    height: 20px;
    width: auto;
    position: absolute;
    margin-left: 79%;
    margin-top: 3px;
}

/* ##################### HEADER END ########################## */

/* ######################## Slider ############################### */
h2 {
    color: #212529;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 80px;
    margin-top: 60px;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    /* margin: auto; */
    width: 50%;
    margin-top: 20px;
    margin-left: 90px;
    border: 2px solid #DEA527;
    background: #FFF;
    padding: 15px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    /* width: auto; */
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/* ################ Small images ################ */

.small_img{
    display: flex;
    margin-left: 90px;
}

.img1{
    width: 122px;
    height: 102px;
}
.img2{
    width: 122px;
    height: 102px;
    margin-left: 20px;
}

/* ################### Map ########################## */

.map h2{
    color: #212529;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.map img{
    width: 764px;
height: 254px;
flex-shrink: 0;
margin-left: 80px;
margin-top: 20px;
}

/* ########################################## */
/* ################ Ranges place ###################### */
.ranges ol{
    margin-top: 40px;
    margin-left: 80px;
    color: #212529;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 192% */
}

/* ######################## FOOTER STYLING START ############################# */
hr {
    height: 2px;
    background: #808080;
    align-items: center;
    margin-right: 6%;
    margin-left: 6%; 
    margin-top: 7%;
}

.furas-travel {
    display: flex;

}

.footer-data {
    margin-left: 10%;

}

.furas-travel h4 {
    color: #212529;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 30px;
}

.furas-travel li {
    color: #212529;
    font-family: Montserrat;
    font-size: 15px;
    font-style: none;
    font-weight: 400;
    line-height: 30px;
    list-style: none;
}

.footer-data {
    color: #212529;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-data label {
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
    position: absolute;
    margin-top: 5px;
}

.footer-data input {
    border-radius: 7px;
    border: 1px solid #696969;
    padding: 5px 15px;

}

button {
    margin-top: 15px;
    border: 1px solid #DEA527;
    border-radius: 5px;
    background: #DEA527;
    padding: 2px 15px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-data img{
    width: 20px;
    float: left;
    padding-top: 5px;
    margin-left: 16px;
    position: relative;
    margin-right: 10%;
}


.copyright {
    text-align: center;
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-top: 1px solid #000;
    margin-right: 6%;
    margin-left: 6%;
}
/* ######################## FOOTER STYLING END ############################# */

