* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#banner {
    background: url(./images/Rectangle\ 3.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    flex-shrink: 0;
}

#banner img {
    width: 140px;
    position: absolute;
    top: 2%;
    left: 1%;
    height: 15%;
    width: 8%;
}

.btn {
    float: right;
    margin-right: 3rem;
    margin-top: 1rem;
    border: 1px solid white;
    color: white;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
    background: none;
}

.banner-text {

    color: white;
    float: right;
    margin-top: 5%;
}

.banner-text li {
    display: inline;
    top: 5px;
    padding: 0.5rem;
    font-size: 14px;
}

ul li:hover {
    cursor: pointer;
    color: rgb(196, 193, 193);
}

.search-bar {
    position: relative;
    text-align: center;
    top: 90%;
    font-size: 10px;
    margin-bottom: 10px;
}


.form {
    display: flex;
    padding-left: 5%;
    padding-inline: 5px;
    margin-top: 41%;
    justify-content: center;
    justify-content: space-evenly;
    color: #0075FF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.islamabad {

    flex-shrink: 0;
    padding: auto;
    /* border-radius: 4px;
    background: #FFF; */
}


/* ########## Banner 2 Styling ############### */
#banner2 {
    position: relative;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 26px;
}

.row {
    text-align: center;
    display: flex;
    justify-content: space-around;
    justify-content: center;

}

.desc {
    display: flex;
    margin-top: 10px;
    margin-top: 30px;
    width: 300px;
    height: 200px;
}

.desc h4 {
    position: absolute;
    margin-left: 4rem;
    font-size: 16px;
    color: white;
    margin-top: 14%;
    font-weight: 500;
}

/* ########## Banner 2 Styling  END ############### */

/* <!-- ########### Services Start ############ --> */

h1 {
    text-align: center;
}

.images {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    height: 500px;
    width: 178px;

}

.visa {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    height: 500px;
    width: 178px;
}

.visa .pic1 {
    background: #F4F4F4;
}

.visa .pic1 p {
    text-align: center;
}

.visa .pic2 p {
    text-align: center;
}


.images .pic1 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-top: 10px;
}

.images .pic1 p {
    text-align: center;
}

.pic1 img {
    justify-content: center;
    width: 135px;
    height: 120px;
    /* margin-left: 20%; */

}

.pic2 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-top: 10%;
}

.images .pic2 p {
    text-align: center;
}

.pic2 img {
    justify-content: center;
    width: 135px;
    height: 120px;
    /* margin-left: 20%; */
    margin-top: 10%;
}

.main-flex {
    display: flex;
    justify-content: space-evenly;
}

.second-div {
    background: #F4F4F4;
    width: 400px;
    height: 300px;
    margin-top: 10px;
}

.second-div img {
    width: 250px;
    height: 250px;

}

.second-div p {
    color: #212529;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 15px;
}

/* <!-- ########### Services End ############ --> */



#packages {
    background: url(./images/package-world-wide-3\ 1.png);
    color: #F4F4F4;
}

#packages h1 {
    padding-top: 15px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.country {
    display: flex;
    align-items: center;
    padding-left: 12%;
}

.world {
    margin: 20px;

}

.world img {
    width: 250px;
    height: 150px;
    justify-content: space-evenly;
    justify-content: center;
    transition: 1s;
}

.world img:hover {
    cursor: pointer;
    transform: scale(1.3);
    z-index: 2;
}

img {
    display: block;
    margin: 0 auto;
}

.world p {
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
}

/* <!-- @################## More to Explore Start ##################### --> */

#explore {
    background: url(./images/Rectangle\ 11.png) repeat no-repeat;
    width: 1120px;
    height: 869px;
}


.slide {}

/* git add .
   git commit -m "main_page"
   git push -u origin umair
*/