* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: url(./images/Rectangle\ 3.png) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    z-index: 100;
}

.logo img {
    height: 70px;
    width: 100px;


}

.navbar a {

    font-size: 15px;
    color: #FFF;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    float: right;
    margin-top: 40px;

}

.btn button {
    float: right;
    position: absolute;
    margin-top: 1px;
    margin-left: 65%;
    margin-right: 5px;
    background: none;
    border: 1px solid white;
    color: #FFF;
    padding: 4px 7px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;

}

.btn:hover{
    
}

.search-bar {
    position: absolute;
    text-align: center;
    top: 95%;
    left: 92px;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}


.form form {
    display: flex;
    padding-left: 5%;
    padding-inline: 5px;
    margin-top: 36%;
    justify-content: center;
    justify-content: space-evenly;

    color: #0075FF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.form input {
    border: 1px solid #fff;
    padding: 8px 8px;
    border-radius: 4px;
}

.search-icon svg {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: #DEA527;
    padding: 9px 9px 9px 9px;
    top: 100.5%;
    right: 10%;
}

svg:hover {
    border: 2px solid #fff;
}

.islamabad {

    flex-shrink: 0;
    padding: auto;
}

#countrySelector {
    height: 20px;
    width: auto;
    position: absolute;
    margin-left: 80%;
    margin-top: 3px;
}


/* ########## Banner 2 Styling ############### */

.content h1 {
    text-align: center;
    color: #212529;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#banner2 {
    position: relative;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 26px;
}

.roww {
    text-align: center;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;

}

.desc {
    display: flex;
    /* margin-top: 10px; */
    margin-top: 25px;
    width: 300px;
    height: 200px;
}

.desc h4 {
    position: absolute;
    margin-left: 4rem;
    font-size: 16px;
    color: white;
    margin-top: 14%;
    font-weight: 500;
}

/* ########## Banner 2 Styling  END ############### */

/* <!-- ########### Services Start ############ --> */

.services h1 {
    text-align: center;
    color: #212529;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.images {
    /* display: flex; */
    flex-direction: column;
    margin-left: 10%;
    margin-top: 5px;
    width: 148px;

}

.visa {
    /* display: flex; */
    flex-direction: column;
    margin-right: 10%;
    margin-top: 8px;

    width: 148px;
}

.visa .pic1 {
    background: #F4F4F4;
    margin-left: 10px;
    margin-top: 19px;
}

.visa .pic1 p {
    text-align: center;
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 8px;
}

.visa .pic2 p {
    text-align: center;
}


.images .pic1 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-top: 22px;
    margin-right: 10px;
}

.images .pic1 p {
    text-align: center;
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* padding-bottom: 8px; */
}

.pic1 img {
    justify-content: center;
    width: 135px;
    height: 120px;
    /* margin-left: 20%; */

}

.pic2 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-top: 13%;
    margin-right: 10px;
}

.pic5 {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-top: 8%;
    margin-left: 10px;
}

.pic5 img {
    justify-content: center;
    width: 135px;
    height: 120px;
}

.pic5 p {
    text-align: center;
    padding-bottom: 5px;
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 8px;
}

.images .pic2 p {
    text-align: center;
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 8px;
}

.pic2 img {
    justify-content: center;
    width: 135px;
    height: 120px;
    margin-top: 10%;
}

.main-flex {
    display: flex;
    justify-content: center;
}

.second-div {
    background: #F4F4F4;
    width: 580px;
    height: 305px;
    margin-top: 25px;
}

.second-div img {
    width: 250px;
    height: 250px;

}

.second-div p {
    color: #212529;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 15px;
}

/* <!-- ########### Services End ############ --> */



#packages {
    background: url(./images/package-world-wide-3\ 1.png);
    color: #F4F4F4;
    width: 1263px;
    margin-top: 40px;
}

#packages h1 {
    padding-top: 15px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.country {
    display: flex;
    align-items: center;
    padding-left: 12%;
}

.world {
    margin: 20px;

}

.world img {
    width: 250px;
    height: 150px;
    justify-content: space-evenly;
    justify-content: center;

    transition: 1s;
}

.world img:hover {
    cursor: pointer;
    transform: scale(1.3);
    z-index: 2;
}

img {
    display: block;
    margin: 0 auto;

}

.world p {
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
    z-index: 5;
}

/* <!-- @################## More to Explore Start ##################### --> */

#explore {
    background: url(./images/Rectangle\ 11.png) no-repeat;
    background-size: cover;
    width: 1263px;
    height: 510px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

#explore h1 {
    margin-left: 20px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 12px;

}

.slide {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20PX;
}

.slide p {
    color: #000;
    text-align: center;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 1px solid #FFF;
    background: #FFF;
    padding: 8px;
}

.slide1 img {
    width: 350px;
    height: 350px;
}

.slide2 img {
    width: 350px;
    height: 350px;
}

.slide3 img {
    width: 350px;
    height: 350px;
}

/* #################### END ################ */

/* <!-- ############# Certified Company Start styling ################ --> */

.company h2 {
    text-align: center;
    padding-top: 50px;
    color: #212529;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer img {
    /* display: flex; */
    justify-items: start;
    width: 220px;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0px 10px;
}

.footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 10px;
    margin: 10px 0;
    /* border-bottom: 1px solid gray; */
}

hr {
    /* width: 940px; */
    height: 2px;
    background: #808080;
    align-items: center;
    margin-right: 8%;
    margin-left: 8%; 
   

}

.furas-travel {
    display: flex;

}

.footer-data {
    margin-left: 10%;

}

.furas-travel h4 {
    color: #212529;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 30px;
}

.furas-travel li {
    color: #212529;
    font-family: Montserrat;
    font-size: 15px;
    font-style: none;
    font-weight: 400;
    line-height: 30px;
    list-style: none;
}

.footer-data {
    color: #212529;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.footer-data label {
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 8px;
    position: absolute;
    margin-top: 5px;
}

.footer-data input {
    border-radius: 7px;
    border: 1px solid #696969;
    padding: 5px 15px;

}

button {
    margin-top: 15px;
    border: 1px solid #DEA527;
    border-radius: 5px;
    background: #DEA527;
    padding: 2px 15px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-data img{
    width: 20px;
    float: left;
    padding-top: 5px;
    margin-left: 16px;
    position: relative;
    margin-right: 10%;
}


.copyright {
    text-align: center;
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-top: 1px solid #000;
    margin-right: 8%;
    margin-left: 8%;
}



/* git add .
   git commit -m "main_page"
   git push -u origin umair
*/