* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    height: 80px;
}

.navbar-brand img {
    width: 200px;
}

form .btn {
    border: 1px solid #fff;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
}

form .btn:hover {
    color: black;
    background: #DEA527;
}
.navbar-collapse{
    justify-content: end;
}

/* ===================== Header Styling complete ============================ */

/* ==================Secure Compact Section Styling Styling start ================== */
.secure-banking .row h2 {
    color: #212529;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.compact {
    border-radius: 5px;
    border: 2px solid #DEA527;
    background: #FFF;
    width: 10px;
    height: 260px;
}

.compact h3 {
    color: #212529;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1.5px solid #DEA527;
}

.compact p {
    color: #696969;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.compact h6 {
    color: #212529;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.row .driving {
    border-radius: 5px;
    border: 2px solid #DEA527;
    background: #FFF;
    max-width: 70%;
    margin-left: 20px;
}

.driving h3 {
    color: #212529;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.driving p {
    color: #696969;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.driving label {
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.driving input {
    color: #212529;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 3px 90px 3px 10px;
    border-radius: 5px;
    border: 1px solid #212529;
}

.dropmenu {
    font-size: 14px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #212529;
    padding-left: 10px;
}

/* ==================Secure Compact Section Styling Styling end ================== */

/* =========================== Payment Section Styling Start ========================= */

.payment {
    border-radius: 5px;
    border: 2px solid #DEA527;
    background: #FFF;
    width: 70%;
    margin-left: 20px;
}

.payment h3 {
    color: #212529;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.payment p {
    color: #2B9D07;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.payment label {
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
}

/* =========================== Payment Section Styling End ========================= */

/* ======================== Confirm Section Styling Start ========================== */
.confirm-box .box-data {
    border-radius: 5px;
    border: 2px solid #DEA527;
    background: #FFF;
    width: 71%;
    margin-left: 18px;
}

.box-data h3 {
    color: #212529;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.box-data p {
    color: #696969;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.box-data label {
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box-data span {
    color: #696969;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.box-data input {
    border-radius: 2px;
    border: 1px solid #707070;
}

.confirm-box button {
    border: 1px solid #6B6B6B;
    border-radius: 3px;
    background: #6B6B6B;
    padding: 7px 35px;
    margin-left: 27%;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.confirm-box {
    border-bottom: 1px solid #707070;
    padding-bottom: 10PX;
    margin: 20px 70px 20px 70px;
}

/* ======================== Confirm Section Styling End ========================== */


/* ######################## FOOTER STYLING START ############################# */

.footer-data h4 {
    color: #212529;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 20px 0;
}

.footer .footer-data li {
    list-style: none;
    color: #212529;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.footer .footer-data li a {
    text-decoration: none;
    color: #212529;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.footer .footer-data li img {
    width: 22px;
    margin: 3px 5px 5px 0;
}

.footer .footer-data label {
    color: #212529;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px;
}

.footer .footer-data input {
    color: #696969;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #696969;
    padding: 5px 50px 5px 5px;
}

.footer-data button {
    border: 1px solid #DEA527;
    border-radius: 5px;
    background: #DEA527;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 5px 13px 5px 13px;
    margin-top: 20px;
}
.footer-data button:hover{
    border: 2px solid #DEA527;
    background: #212529;
}

.copyright {
    text-align: center;
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    border-top: 1px solid #000;
    margin-right: 6%;
    margin-left: 6%;
}

/* ######################## FOOTER STYLING END ############################# */